# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# WhatsApp session files
.wwebjs_auth/
.wwebjs_cache/

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for storing uploaded files
uploads/

# Optional npm cache directory
.npm

# Archivos de compilación
dist/

# Archivos específicos de Replit
.replit
replit.nix
uv.lock
generated-icon.png

# Otros no necesarios para GitHub
__pycache__/
*/__pycache__/
*.py[cod]
